/* font insert */
@font-face {
    font-family: helveticaregular;
    src: url(font/helveticaneue/HelveticaNeue.ttf)
}
@font-face {
    font-family: helveticabold;
    src: url(font/helveticaneue/HelveticaNeue-Bold.ttf)
}
@font-face {
    font-family: helveticabold;
    src: url(font/helveticaneue/HelveticaNeue-Bold.ttf)
}
@font-face {
    font-family: helveticalight;
    src: url(font/helveticaneue/HelveticaNeue-Light.ttf)
}
@font-face {
    font-family: helveticacondenseblack;
    src: url(font/helveticaneue/HelveticaNeue-CondensedBlack.ttf)
}
@font-face {
    font-family: helveticaultralightitalic;
    src: url(font/helveticaneue/HelveticaNeue-UltraLightItalic.ttf)
}
@font-face {
    font-family: helveticamediumitalic;
    src: url(font/helveticaneue/HelveticaNeue-MediumItalic.ttf)
}

/*logo*/
.logo {
    position: absolute;
    top: 3vh;
    right: 2vw;
    font-family: helveticaregular;
  }
  .logo-link {
    margin-right: auto;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    font-size: 4vh;
    font-family: helveticacondenseblack;
    text-shadow: #000000;
  }  
.logo:hover {
    opacity: 50%;
}
/*end logo*/

/*page-setup*/
body {
  background-color:rgb(0, 0, 0);
  overflow-x:hidden;
  display:flex;
  flex-direction: column;
}
#homepage-container {
    z-index: 1;
    height: auto;
  }
.page-1 {
    display:flex;
    position:absolute;
    margin: 0;
    background-color: black;
    padding: 0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .page-2 {
    height: 70vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #000000, #bc0000);
    z-index: 5;
    color: #ffffff;
    top: 100vh;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .page-3 {
    height: 70vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #bc0000, #000000);
    z-index: 5;
    color: #ffffff;
    top: 170vh;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .page-4 {
    height: 70vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #000000, #bc0000);
    z-index: 5;
    color: #ffffff;
    top: 240vh;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .page-5 {
    height: 70vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #bc0000, #000000);
    z-index: 5;
    color: #ffffff;
    top: 310vh;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  #intro-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #intro-container img {
    max-width: 50%;
    max-height: 100%;
  }
  /*end page set-up*/

  /*page content ( img + text )*/
  .page {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    position: relative;
  }
  .image {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
  }
  h2 {
    font-family: helveticamediumitalic;
    font-size: 5vw;
    width:70%;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
  }
  a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }
  a:hover {
    color: black;
  }
    
  /* animate images when they enter the viewport */

  .activeright{
    animation-name: slide-in-right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  .activeleft{
    animation-name: slide-in-left;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  @keyframes slide-in-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slide-in-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @media (min-width: 768px) {
    .page {
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
    .image, .text {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .image img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  @media (max-width: 768px) {
    .page {
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    .image {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .text {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .image img {
      max-width: 100%;
      max-height: 100%;
    }
    .text {
      order: -1;
    }
    .footer a{
      font-size: 2.5vh;
    }
    .title a {
      font-size: 3vh;
    }
  }
  /*end page content ( img + text )*/
  
  /*page 1*/
  .character {
    color: #ffffff;
    font-size: 12rem;
    transform: translate(-50%, -50%);
  }
  #Welcome {
    font-family: helveticaultralightitalic;
    font-size: 4vh;
    position: absolute;
    top: calc(45% - 15vw); 
    left: calc(45% + 5vw); 
    transform: translate(-50%, -50%);
    color: #bc0000;
  }
  #Chem.character {
    font-family: helveticalight;
    font-size:30vw;
    color: #bc0000;
    transition: font-family 1s;
    animation: fontChange1 1s infinite;
    position: absolute;
    top: 45%;
    left: 45%;
  }
  @keyframes fontChange1 {
    0% {
      font-family: helveticalight;
    }
    20% {
      font-family: helveticacondenseblack;
    }
    40% {
      font-family: helveticaultralightitalic;
    }
    60% {
      font-family: helveticaregular;
    }
    80% {
      font-family: helveticabold;
    }
    100% {
      font-family: helveticalight;
    }
  }
  #folio.character {
    font-family: helveticaultralightitalic;
    font-size:30vw;
    transition: font-family 1s;
    animation: fontChange2 1s infinite 0.5s;
    position: absolute;
    top: calc(45% + 15vw); 
    left: calc(45% + 25vw); 
  }
  @keyframes fontChange2 {
    0% {
      font-family: helveticaultralightitalic;
    }
    20% {
      font-family: helveticalight;
    }
    40% {
      font-family: helveticaregular;
    }
    60% {
      font-family: helveticabold;
    }
    80% {
      font-family: helveticabold;
    }
    100% {
      font-family: helveticacondenseblack;
    }
  }
  .arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 1vh 1vh 0;
    display: inline-block;
    padding: 10px; /* Increase padding */
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute; /* Set position */
    bottom: 2.2vh;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  /*end page 1*/

  
  /* menu */
  .container {
      width: 95%;
      margin: auto;
      position:absolute;
      top:0;
    }
    
    .navbar {
      width: 100%;
    }
    
    .nav-container {
      position:fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      z-index: 10;
      left: 0;
      right: 0;
      margin: auto;
    }
    
    .navbar .nav-container li {
      list-style: none;
    }
    
    .navbar .nav-container a {
      text-decoration: none;
      color: #ffffff;
    }
    
    .navbar .nav-container a:hover{
        font-weight: bolder;
    }
    
    .nav-container {
      display: block;
      height: 60px;
      top:0;
    }
    
    input.checkbox {
      height: 32px;
      width: 50px;
    }
    .nav-container .checkbox {
      position: absolute;
      display: block;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
      margin-top: 2vh;
    }
    
    .nav-container .hamburger-lines {
      display: block;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 3vh;
      left: 3vw;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .nav-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #ffffff;
    }
    
    .nav-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
    
    .navbar .menu-items {
      z-index: 999;
      max-width: 70%;
      background-color: black;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
      width: 80%;
      margin: 0;
      height: 100vh;
      position: absolute;
      left: calc(10% + 5%);
      right: calc(10% + 5%);
      transform: translateX(-150%);
      display: flex;
      flex-direction: column;
      justify-content: center; /* center horizontally */
      align-items: center; /* center vertically */
      text-align: center;
      transition: transform 0.5s ease-in-out;
    }
    
    .navbar .menu-items a {
      margin-bottom: 1.2rem;
      font-size: 5vw;
      font-weight: 500;
      font-family: helveticacondenseblack;
      flex-grow: 1; /* evenly distribute remaining vertical space */
      display: flex;
      justify-content: center; /* center the content horizontally */
      align-items: center; /* center the content vertically */
    }

    .page-link {
      color: #0e2431;
      transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
    
    .page-link:hover {
      opacity: 0.6;
    }
    
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
    /* end menu */
      
    /*footer*/
    .footer {	
      display: flex;	
      justify-content: space-between;	
      align-items: center;	
      position: absolute;	
      z-index: 5;	
      top: 380vh;	
      font-size: 3vw;	
      left:0;	
      font-family: helveticaultralightitalic;	
      font-weight: bolder;
      justify-content: space-evenly;	
      align-items: center;	
      width: 100%;	
      background-color: #000000;	
    }	
    .footer a {	
      padding: 3vh;	
      text-decoration: none;	
      color:#bc0000;	
    }	
    .footer a:hover {	
      color: #bc0000; 	
      opacity: 0.5; 
      text-decoration: none; 
    }	
    .footer a:active {	
      color: rgb(255, 255, 255); 
    }	
    .footer a:visited {	
      color:#bc0000; 	
      text-decoration: none;	
    }
    /*end footer*/

